<header>
    <div class="container">
        <div class="logo">
            <img src="/image/vrichka.png" alt="logo not found" class="logo" />
        </div>
        <div class="menu">
            <div class="desktop-menu" [class.mobile-menu]="menuValue">
                <ul>
                    <li (click)="closeMenu()">About me</li>
                    <li (click)="closeMenu()">Skills</li>
                    <li (click)="closeMenu()">Work</li>
                    <li (click)="closeMenu()">Contact</li>
                </ul>
            </div>
            <div class="menu-icon" (click)="openMenu()">
                <i class={{menuIcon}}></i>
            </div>
        </div>
    </div>
</header>
