header {
    padding: 5px;
    background: #3674B5;
}

.logo{
    width: 40px;
    height: 50px;
}

.logo:hover{
    cursor: pointer;
}

.desktop-menu{
    margin-top: 24px;
}

.desktop-menu ul{
    padding: 0;
    margin: 0;
}

.desktop-menu ul li{
    list-style-type: none;
    color: #D1F8EF;
    display: inline-block;
    font-size: 18px;
    margin-left: 26px;
}

.desktop-menu ul li:hover{
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    color: yellow;
    transition: 0.2s ease-out;
}

.menu-icon {
    display: none;
}

@media screen and (min-width: 120px) and (max-width:900px){
    .desktop-menu{
        position: fixed;
        transition: 0.2s ease-in-out;
        right: -280px;
        top: 64px;
        background: #3674B5;
        width: 200px;
        height: 100%;
    }
    .desktop-menu ul li {
        display: block;
        text-align: left;
        margin: 0;
        padding: 10px 0 10px 26px;
        border-bottom: 1px solid #D1F8EF;
    }
    .menu-icon {
        display: block;
        color: #D1F8EF;
        font-size: 40px;
        padding: 10px;
    }
    .mobile-menu {
        right:0;
        transition: 0.2s ease-in-out;
    }
}

/* ul {
    list-style-type: none;
    list-style-position: inherits;
    float: right;
}

li {
    display: inline;
    padding: 20pxs;
    justify-content:space-around;
    padding-right: 50px;
} */